---
layout: default
title: Home
---

<h1>Joel Gaff, Jr.</h1>
<p>Software Developer | Portland, Oregon</p>

<p>I build software and write about development, productivity, and endurance sports.</p>

<p>Read my <a href="/blog">blog</a>, learn more <a href="/about">about me</a>, or check out my work on <a href="https://github.com/joelgaff">GitHub</a>.</p>

<p>Get in touch: <a href="mailto:joel@joelgaff.com">joel@joelgaff.com</a></p>

<hr>

<p>recent posts</p>
{% if site.posts.size > 0 %}
  <ul>
    {% for post in site.posts limit:5 %}
      <li>
        {{ post.date | date: site.theme_config.date_format }} <a href="{{ post.url }}">{{ post.title | downcase }}</a>
      </li>
    {% endfor %}
  </ul>
  <p><a href="/blog">see all posts →</a></p>
{% endif %}
